body {
    background: url('/images/yogabackground.jpg') repeat-x 50% 50% fixed;
    background-size: 100%;
    background-position: right 0px top 75px;
    font-family: Tahoma, Geneva, sans-serif;
    height: 100%;
    // height: auto;
    // color: #FF5F35;
    // text-shadow: 2px 2px black;
    // width: 100%;
}

.chakras {
  margin-left: 43.8%;
  margin-right: auto;
  width: 10%;
  margin-top: 40px;
  position: fixed;
}

.chakraIcon {
  margin-left: 35px;
  width: 50%;
  margin-bottom: 30px;
}
//
.linkText {

}
//

//
#goBack {
  padding-left: 80px;
  padding-bottom: 30px;
  float: left;
}
//
#logOut {
  padding-right: 80px;
  padding-bottom: 30px;
  float: right;
}
//
// #signUp {
//   text-align: center;
//   width: auto;
// }
//
.headerText h1{
  padding-top: 20px;
  color: #D55200;
  text-align: center;
  font-size: 2.8em;
}
//
#userHeader {
  z-index: 1;
  width: 100%;
  height: 6%;
  position: fixed;
  bottom: 0;
  font-size: 2em;
  a {
    color: #6D4095;
  }
}
//
.header {
  height: 10%;
  background: black;
}
//
// .wrapper {
//   height: 100vh;
// }
//
.footer {
    background: black;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}

#newSequence {
  z-index: 1;
  height: 6%;
  position: fixed;
  bottom: 0;
  margin-left: 35%;
}

.sequence_selection {

}

.sequenceHeader {
  width: 100%;
}

.sequenceInfo {
  text-align: center;
}

#sequenceTitle {
  font-size: 2em;
  color: #D55200;

}
