.form_errors {

}

.link-text {
  color: #EDE1B3;
}

.return-routes {
  padding-left: 20px;
}

#go-back {
  padding-left: 80px;
  padding-bottom: 30px;
  float: left;
}

#log-out {
  padding-right: 80px;
  padding-bottom: 30px;
  float: right;
}

#sign-up {
  text-align: center;
  width: auto;
}

#log-in {

}

#git-log-in {

}

.header-text {
  color: #FF3613;
  padding-bottom: 90px;
  padding-left: 20px;
  text-align: center;
  position: relative;
  transform: translateY(-30%);
}

#user-header {
  bottom: -15;
  position: absolute;
  z-index: 1;
  width: 100%;
}


body {
    background: url('/images/yogabackground.jpg') fixed center;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #FF5F35;
    text-shadow: 2px 2px black;
    width: 100%;
    font-family: "Lucida Console";
}

header {
  top: 0;
  height: 60px;
  background: black;
}

.wrapper {
  height: 100vh;
}

footer {
    background: black;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}
