body {
    background: url('/images/yogabackground.jpg') repeat-x 50% 50% fixed;
    background-size: 100%;
    background-position: right 0px top 75px;
    font-family: Tahoma, Geneva, sans-serif;
    height: 100%;
    // height: auto;
    // color: #FF5F35;
    // text-shadow: 2px 2px black;
    // width: 100%;
}

.chakras {
  margin-left: 45.2%;
  margin-right: auto;
  width: 10%;
  margin-top: -125px;
  // margin-bottom: 100%;
}

.chakraIcon {
  margin-left: 35px;
  width: 50%;
  // padding: 6px auto 6px auto;
  margin-bottom: 25px;
  // margin-bottom: 30px;
  // margin: 6px;
}
//
// .linkText {
//   color: #EDE1B3;
// }
//
// .returnRoutes {
//   padding-left: 20px;
// }
//
// #go-back {
//   padding-left: 80px;
//   padding-bottom: 30px;
//   float: left;
// }
//
// #logOut {
//   padding-right: 80px;
//   padding-bottom: 30px;
//   float: right;
// }
//
// #signUp {
//   text-align: center;
//   width: auto;
// }
//
.headerText h1{
  padding-top: 20px;
  color: #D55200;
  text-align: center;
  font-size: 2.8em;
}
//
#userHeader {
  // background: black;
  z-index: 1;
  width: 100%;
  height: 6%;
  position: fixed;
  bottom: 0;
}
//
.header {
  height: 10%;
  background: black;
}
//
// .wrapper {
//   height: 100vh;
// }
//
.footer {
    background: black;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}
