body {
    background: url('/images/yogabackground.jpg') fixed center;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #FF5F35;
    text-shadow: 2px 2px black;
    width: 100%;
}

.link-text {
  color: #EDC223;
}

.wrapper {
  height: 100vh;
}

header {
  top: 0;
  height: 100px;
  background: black;
}

footer {
    background: black;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-text {
  color: #5E0D12;
  padding-top: 50px;
  padding-bottom: 90px;
}

.return-routes {
  padding-left: 20px;
}

#sequenceHeader {
  padding-top: 70px;
  color: #FF5260;
  font-size: 2em;
  text-align: center;
}

#sequences {
  font-size: 1.5em;
  padding: 30px;

}
