// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_form {

}

.sign-up-header {
  color: #FF5260;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px #5E5038;
}

.create-user {
  text-align: center;
  padding-top: 30px;
  padding-left: 20px;
}
