<h4><%= link_to "Sign Up", sign_up_path, class: 'link-text' id: 'sign-up'  %> |
<%= link_to "Log In", log_in_path, class: 'link-text' id: 'log-in'  %></h4>
<%= link_to "Log in with GitHub", "/auth/github", class: 'link-text' id: 'git-log-in'   %>
