<div class="headerText">
  <div class="welcomeText">
      <h1>Welcome to YogaFlow
        <% if current_user %>
            <%= current_user.username %>!</h1>
          <% else %>
            "Future Yogi!"
          <% end %>
  </div>
</div>


<div id="userHeader" align="center">
  <% if current_user %>
    <%= render '/layouts/user_sub_header' %>
  <% else %>
    <%= render '/layouts/guest_sub_header' %>
  <% end %>
  <hr width="50%" />
</div>
