<h2>Please select a yoga sequence:</h2>

<h2><% @sequences.each do |sequence| %>
  <h3><%= sequence.title %><br /><%= sequence.number_of_poses %> Poses,
    Focus: <%= sequence.focus %>, Difficulty Rating: <%= sequence.difficulty %>
<% end %>
</h2>
