<h1 align="center">Welcome to YogaFlow
  <% if current_user %>
      <%= current_user.username %>!</h1>
    <% else %>
      "Future Yogi!"
    <% end %>
<hr width="50%" />

<div class="header" algin="center">
  <% if current_user %>
    <%= render '/layouts/user_header' %>
  <% else %>
    <%= render '/layouts/guest_header' %>
  <% end %>
</div>
